<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %>

<body>
    <%- include('partials/header') %>

    <main>
        <form action="/login" method="POST" class= "formulario-login">
            <div class= "control-formulario-login">
                <label for="nombre">Nombre de usuario</label>
                <input type= "name" name="nombre" placeholder="Ej.: Juampi1985">
            </div>

            <div class= "control-formulario-login">
                <label for="contrasenia">Contraseña</label>
                <input type= "password" name="contrasenia">
            </div>

            <div>
                <button type= "submit" class= "boton-login">Enviar</button>
            </div>

        </form>

    </main>

    <%- include('partials/footer') %>

</body>
</html>