<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href= "/css/normalize.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href= "/css/styles.css">
</head>
<body>
    <header>
        <div class= "main-header"> 
            <div class= "logo"><a href= "/"><img src= './img/logo-mercado-liebre.svg' alt= 'Logo'></a></div>            
            <form action="#" method="GET" class= "formulario">
                <input type="text" name= "busqueda" placeholder="Buscar productos, marcas y más">
                <button type= "submit"><i class="fas fa-search"></i></button> 
            </form>   
            <div class= "compra-cuotas">
                <i class="fas fa-hand-holding-usd"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </div>
        </div>
        
        <nav class= "main-navbar">
            <ul class= "left-navbar">
                <li><a href= "#">Ofertas</a></li>
                <li><a href= "#">Tiendas oficiales</a></li>
                <li><a href= "#">Vender</a></li>
                <li><a href= "#">Ayuda</a></li>
            </ul>
           
            <ul class= "right-navbar">
                <li><a href= "/register">Creá tu cuenta </a><i class="far fa-id-card"></i></li>
                <li><a href= "/login">Ingresá </a><i class="fas fa-sign-in-alt"></i></li>
                <li><a href= "#">Mis compras </a><i class="fas fa-shopping-basket"></i></li>
            </ul>
        </nav> 
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>       
    </header>

    <main>
        <form action="/login" method="POST" class= "formulario-login">
            <div class= "control-formulario-login">
                <label for="nombre">Nombre de usuario</label>
                <input type= "name" name="nombre" placeholder="Ej.: Juampi1985">
            </div>

            <div class= "control-formulario-login">
                <label for="contrasenia">Contraseña</label>
                <input type= "password" name="contrasenia">
            </div>

            <div>
                <button type= "submit" class= "boton-login">Enviar</button>
            </div>

        </form>

    </main>

    <footer>
        <section>
            <ul class="elementos-footer">
                <div class= "tarjeta">
                    <i class="fas fa-credit-card"></i>
                    <li><h2>Pagá con tarjeta de crédito</h2></li>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
                </div>                
                               
                <div class= "regalo">
                    <i class="fas fa-gift"></i>
                    <li><h2>Envío gratis desde $2500</h2></li>
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
                </div>
                              
                <div class="seguridad">
                    <i class="fas fa-user-shield"></i>
                    <li><h2>Seguridad, de principio a fin</h2></li>
                    <p>¿No te gusta? Devolvelo. En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
                </div>  
            </ul>
            <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L</p>
        </section>
    </footer>
    


</body>
</html>