<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %>

<body>
    
    <%- include('partials/header') %>

    <main>
        <form action="/register" method="POST" class= "formulario-register">
            <div class= "control-formulario-register">
                <label for="nombre" class= "register-label">Nombre y apellido</label>
                <input required="name" type= "name" name="nombre" class= "register-input" placeholder="Ej.: Juan Pérez">
            </div>

            <div class= "control-formulario-register">
                <label for="usuario" class= "register-label">Nombre de usuari@</label>
                <input type= "email" name="usuario" class= "register-input" placeholder="usuario@gmail.com">
            </div>

            <div class= "control-formulario-register">
                <label for="fechaNacimiento" class= "register-label">Fecha de nacimiento</label>
                <input type= "date" name="fechaNacimiento" class= "register-input">
            </div>

            <div class= "control-formulario-register">
                <label for="direccion" class= "register-label">Domicilio</label>
                <input type= "text" name="direccion" class= "register-input" placeholder="P. Sherman Calle Wallaby 42- Sydney">
            </div>

            <div class= "control-formulario-register">
                <label for="perfilUsuario" class= "register-label">Perfil del usuario</label>
                <div class= "perfil-comprador-vendedor">
                    <label><input type= "radio" name="perfilUsuario" value= "Comprador">Comprador</label>
                    <label><input type= "radio" name="perfilUsuario" value= "Vendedor">Vendedor</label>
                </div>
            </div>

            <div class= "control-formulario-register">
                <div class= "register-label">Categorías de interés</div>

                    <div class= "categorias-formulario-register">
                        <input type= "checkbox" name="categorias" value= "Electro">
                        <label for="categorias">Electro</label>
                    </div>
                   
                    <div class= "categorias-formulario-register">
                        <input type= "checkbox" name="categorias" value= "Moda">
                        <label for="categorias">Moda</label>
                    </div>

                    <div class= "categorias-formulario-register">
                        <input type= "checkbox" name="categorias" value= "Hogar">
                        <label for="categorias">Hogar</label>
                    </div>

                    <div class= "categorias-formulario-register">
                        <input type= "checkbox" name="categorias" value= "Juguetería">
                        <label for="categorias">Juguetería</label>
                    </div>
                    
                    <div class= "categorias-formulario-register">                         
                        <input type= "checkbox" name="categorias" value= "Vida sana">   
                        <label for="categorias">Vida Sana</label>                        
                    </div>                                       
            </div>

            <div class= "control-formulario-register">
                <label for="imagenDePerfil" class= "register-label">Foto de usuario</label>
                <input type= "file" name="imagenDePerfil" class= "register-input" accept= ".jpg, .png">
            </div>

            <div class= "control-formulario-register">
                <label for="contrasenia" class= "register-label">Contraseña</label>
                <input type= "password" name="contrasenia" class= "register-input" placeholder="Escribe tu contraseña">
            </div>

            <div class= "control-formulario-register">
                <label for="contrasenia" class= "register-label">Confirmar contraseña</label>
                <input type= "password" name="contrasenia" class= "register-input" placeholder="Repite tu contraseña">
            </div>

            <button type= "reset" class= "boton-register">Borrar</button>
            <button type= "submit" class= "boton-register">Enviar</button>
                   
        </form>

    </main>

    <%- include('partials/footer') %>
    
</body>
</html>