<header>
    <div class= "main-header"> 
        <div class= "logo"><a href= "/"><img src= './img/logo-mercado-liebre.svg' alt= 'Logo'></a></div>            
        <form action="#" method="GET" class= "formulario">
            <input type="text" name= "busqueda" placeholder="Buscar productos, marcas y más">
            <button type= "submit"><i class="fas fa-search"></i></button> 
        </form>   
        <div class= "compra-cuotas">
            <i class="fas fa-hand-holding-usd"></i>
            Comprá en cuotas y sin tarjeta de crédito
        </div>
    </div>
    
    <nav class= "main-navbar">
        <ul class= "left-navbar">
            <li><a href= "#">Ofertas</a></li>
            <li><a href= "#">Tiendas oficiales</a></li>
            <li><a href= "#">Vender</a></li>
            <li><a href= "#">Ayuda</a></li>
        </ul>
       
        <ul class= "right-navbar">
            <li><a href= "/register">Creá tu cuenta </a><i class="far fa-id-card"></i></li>
            <li><a href= "/login">Ingresá </a><i class="fas fa-sign-in-alt"></i></li>
            <li><a href= "#">Mis compras </a><i class="fas fa-shopping-basket"></i></li>
        </ul>
    </nav> 
    <div class="burger-menu">
        <i class="fas fa-bars"></i>
    </div>       
</header>